:root {
  /* warna */
  --ungu: #806FD3;
  --ungu-muda: #a08ef9;
  --ungu-tua: #6455ac;
  /* teks */
  --judul-bab: 30px;
  --sub-bab: 25px;
  --teks-biasa: 15px;
  --teks-sedang: 13px;
  --teks-kecil: 11px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  /* transition: .2s linear; */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  opacity: 50%;
}

::-webkit-scrollbar-thumb {
  background-color: var(--ungu);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--ungu-tua);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  background: linear-gradient(245.59deg, #6455ac 0%, #806FD3 28.53%, #a08ef9 75.52%);
  /* background: var(--ungu-tua); */
}


header {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 1rem 9%;
  z-index: 9999;
  background: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all .8s ease;
}

header.scrolled {
  background: rgba(100, 85, 172, 0.5);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-logo {
  width: 40%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: .5rem;
}

header .header-logo img {
  width: 10%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

header .logo span {
  color: var(--ungu-tua)
}

header .menu a {
  font-size: 1.7rem;
  padding: .3rem 1rem;
  color: #fff;
  margin-left: 20px;
  font-weight: 600;
  border: 2px solid transparent;
  transition: all .5s ease;
}

header .menu a.btn:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid #fff;
}

header .menu .btnnav:last-child {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 5px 20px;
}

header .menu .btnnav:hover {
  color: #000000b1;
  background: rgba(255, 255, 0, 0.895);
  border: 2px solid var(--ungu-tua);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

header .container .tombol {
  display: none;
  color: white;
  font-size: 14pt;
}

header .container .tombol:hover {
  cursor: pointer;
}

header .container .menu {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

header .container .menu li a {
  color: white;
  text-decoration: none;
  display: inline-block;
}



/* beranda */
.beranda {
  height: 100%;
  width: 100%;
  min-height: 94vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1rem 9%;
}


.beranda-text h1 {
  font-family: 'poppins', sans-serif;
  font-size: 5.5rem;
  line-height: 1;
  color: white;
  margin: 0 0 40px;
}

.beranda-text h4 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
}

.beranda-text p {
  color: white;
  font-size: 15px;
  line-height: 1.9;
  margin-bottom: 25px;
}

.beranda .beranda-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.beranda .beranda-img img {
  transition: filter .5s ease-in;

}

.beranda .beranda-img img:hover {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.beranda-img img {
  width: 80%;
  height: auto;
}

.beranda-text a {
  color: #fff;
  display: inline-block;
  background-color: var(--ungu-tua);
  border: 1px solid transparent;
  padding: 10px 20px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 600;
  border-radius: 30px;
  transition: all .55s ease;
}

.beranda-text a:hover {
  color: #000000b1;
  background: rgba(255, 255, 0, 0.895);
  transform: translateX(6px);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.beranda-text a.ccta {
  background: transparent;
  border: 1px solid white;
  margin-left: 20px;
}

.beranda-text a.ccta i {
  vertical-align: middle;
  margin-right: 5px;
}




/* profil */
.profil {
  background-color: white;
  padding: 1rem 9%;
}

.heading {
  text-align: center;
  font-size: var(--judul-bab);
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: var(--ungu-muda);
}

.heading span {
  color: #fff;
}

.profil .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 2rem;
}

.profil .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}

.profil .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 0.5rem 1rem 1rem rgba(0, 0, 0, .1);
  height: 100%;
  object-fit: cover;
}

.profil .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--judul-bab);
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.profil .row .content {
  flex: 1 1 40rem;
}

.profil .row .content h3 {
  font-size: var(--sub-bab);
  color: #333;
}

.profil .row .content p {
  font-size: var(--teks-biasa);
  color: #7b7b7b;
  padding: 2rem 0;
  padding-top: 1rem;
  line-height: 1.5;
  text-align: justify;
}


/* icons */
.icons-container {
  background: var(--ungu-muda);
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding: 1rem 9%;
}

.icons-container .icons {
  gap: 1rem;
  background: #fff;
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 1rem;
  display: flex;
  flex: 1 1 25rem;
}

.icons-container .icons i {
  font-size: 3rem;
  color: var(--ungu-tua);
  /* height: 5rem; */
  margin-top: .5rem;
  margin-right: 1rem;
}

.icons-container .icons h3 {
  color: var(--ungu-tua);
  padding-bottom: .3rem;
  font-size: var(--teks-biasa);
}

.icons-container .icons span {
  color: #555;
  font-size: var(--teks-sedang);
}

.bgcolor {
  width: 100%;
  height: 30px;
  background-color: white;
}



/* fitur */
.Fitur {
  width: 100%;
  padding: 2rem 9% 5rem 9%;
}

.Fitur h2 {
  color: white;
  text-align: center;
  font-size: var(--judul-bab);
  font-weight: 700;
  word-wrap: break-word;
}

.Fitur .box-fitur {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.Bgfitur {
  width: 100%;
  height: 100px;
  bottom: -6.44px;
  background: white;
}

/* .judul-Fitur {
    width: 100%;
    top: 30px;
    position: absolute;
    color: white;
    text-align: center;
    font-size: var(--judul-bab);
    font-weight: 700;
    word-wrap: break-word;
} */


/* .Fitur8,
.Fitur7,
.Fitur6,
.Fitur5,
.Fitur4,
.Fitur3,
.Fitur2,
.Fitur1 {
    width: 251.41px;
    height: 80px;
    left: 846px;
    position: absolute;
}

.Fitur8 {
    top: 400px;
}

.Fitur7 {
    top: 300px;
}

.Fitur6 {
    top: 200px;
}

.Fitur5 {
    top: 100px;
}

.Fitur4 {
    left: 169px;
    top: 400px;
}

.Fitur3 {
    left: 169px;
    top: 300px;
}

.Fitur2 {
    left: 169px;
    top: 200px;
}

.Fitur1 {
    left: 169px;
    top: 100px;
} */

.fitur-kiri,
.fitur-kanan {
  gap: 1rem;
  width: 30%;
}

.fitur-tengah {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25%;
}

.Fitur .fitur-kanan {
  flex-wrap: wrap;
  display: flex;
  justify-content: right;
  text-align: right;
  gap: 3rem;
}

.Fitur .fitur-kiri {
  flex-wrap: wrap;
  display: flex;
  justify-content: left;
  gap: 3rem;
}

.Fitur .box-content {
  gap: 2rem;
  flex-direction: row-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Fitur .box-content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.Babfitur {
  width: 100%;
  height: 27.59px;
  color: white;
  font-size: var(--teks-biasa);
  font-weight: 600;
  word-wrap: break-word;
}

.penjelasan-ftr {
  width: 250px;
  color: white;
  font-size: var(--teks-kecil);
  font-weight: 400;
  word-wrap: break-word;
}

.iconftr {
  width: 55px;
  height: 55px;
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconftr i {
  font-size: 33px;
  color: var(--ungu-tua);
}


.fitur-tengah .hp {
  width: 240px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

/* .fitur-tengah .hp img {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
} */


/* testimmoni */

#testimoni {
  background-color: white;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 35px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#testimoni h1 {
  color: var(--ungu-tua);
  font-size: var(--judul-bab);
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
  padding-top: 20px;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 3rem;
  color: var(--ungu-tua);
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 345px;
  list-style: none;
  background: var(--ungu);
  cursor: pointer;
  padding: 30px;
  flex-direction: column;
  border-radius: 8px;
  color: #fff;
}

.carousel .card .img {
  background: var(--ungu-muda);
  height: 128px;
  width: 128px;
  border-radius: 50%;
}

.card .img img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}

.carousel .card h2 {
  font-weight: 700;
  font-size: var(--teks-biasa);
  margin: 10px 0 5px;
}

.carousel .card span {
  font-size: var(--teks-sedang);
  padding-bottom: 10px;
}

.carousel .card p {
  font-size: var(--teks-sedang);
  text-align: center;
}



/* produk */
.Produk {
  width: 100%;
  /* height: 600px; */
  position: relative;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgproduk {
  width: 100%;
  height: 400px;
  position: absolute;
  background: linear-gradient(90deg, #885EFF 0%, #A94FF0 100%);
}

.Produk .produk-kanan {
  z-index: 1;
}

.Produk .produk-kanan .ProductHp {
  position: relative;
}

.produk-kanan .ProductHp img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
  width: 100%;
}

.Produk .produk-kiri {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.Produk .produk-kiri .Teksproduk {
  width: 80%;
  color: white;
  font-size: var(--teks-biasa);
  font-weight: 500;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Produk .produk-kiri .Teksproduk h3 {
  color: white;
  font-size: var(--judul-bab);
  font-weight: 600;
  word-wrap: break-word;
}

.Produk .produk-kiri .Button {
  width: 80%;
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Produk .produk-kiri .Button .icon {
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  margin-top: 2rem;
}

.Produk .produk-kiri .Button .icon i {
  font-size: 30px;
  color: #A253F4;  
  margin-left: 20px;
  margin-right: 10px;
}

.Produk .produk-kiri .Button .icon span h3{
  font-size: var(--sub-bab);
  color: #A253F4;
  font-weight: 600;
}

/* .Buttonw,
.Buttonps {
  width: 180.65px;
  height: 53.33px;
  background: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
} */


/* .ProductHp {
  width: 250px;
  height: 500px;
  left: 181.14px;
  top: 50px;
  position: absolute;
  background-image: url(../assets/hppolos.png);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* contact */
.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 100px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #666;
}

.contact .left-side {
  display: flex;
  justify-content: center;
  width: 60%;
}

/* .contact .left-side .map-container {} */

.contact .left-side iframe {
  width: 100%;
  height: 400px;
}

.contact .map-container{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact .right-side {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form */
form {
  max-width: 450px;
  /* margin: 0 auto; */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px
}

form label {
  display: inline-block;
  width: calc(100% - 30px);
  color: var(--putih);
  margin: 1rem 0;
  text-align: start;
  vertical-align: middle;
  font-size: var(--teks-sedang);
}

form button {
  margin-top: 1rem;
}

#warning {
  color: red;
  margin-top: 10px;
}

#submit-form {
  background-color: var(--ungu);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

#submit-form:hover {
  background-color: var(--ungu-tua);
  scale: 1.02;
}

#user-message {
  margin-bottom: 10px;
}



/* footer */

footer {
  position: relative;
  background: var(--ungu);
  width: 100%;
  bottom: 0;
  left: 0;
}


footer .content {
  max-width: 1250px;
  margin: 0 8rem;
  padding: 30px 40px 30px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 25px;
}

.content .top .logo-details {
  display: flex;
  text-align: center;
  justify-content: left;
  color: #fff;
  font-size: var(--sub-bab);
  gap: .5rem;
}

.content .top .logo-details span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .top .logo-details img {
  width: 8%;
  height: auto;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267B2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
  color: #E1306C;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077B5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box:first-child {
  width: 70%;
  margin-right: 100px;
  text-align: justify;
}

footer .content .link-boxes .box:nth-child(2) {
  width: 25%;
}

footer .content .link-boxes .box:nth-child(3) {
  width: 25%;
}

.link-boxes .box p {
  color: #fff;
  font-size: var(--teks-sedang);
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box .link_name,
.link_judul {
  color: #fff;
  font-size: var(--teks-biasa);
  font-weight: 500;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #fff;
  font-size: var(--teks-sedang);
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

footer .bottom-details {
  width: 100%;
  background: var(--ungu-tua);
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 9rem;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}












/* Media Responsive */

@media screen and (max-width: 968px) {
  header .header-logo img {
    width: 5%;
  }

  header .container .menu {
    display: none;
  }

  header .container .menu.aktif {
    display: inline-block;
    position: absolute;
    top: 64px;
    background: var(--ungu);
    padding: 10px 20px;
    right: 0;
    left: 0;
  }

  header .container .menu.aktif li a {
    padding: 10px;
    display: inline-block !important;
  }

  header .container .tombol {
    display: block;
  }
}



@media (max-width: 576px) {}